*,
*:before,
*:after {
  box-sizing: border-box;
};


.toolbar { /* no styles necessary since this will keep the items in a straight list */ }
.tool-list {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  padding: 0;
  margin: 1rem;
  overflow: hidden;
}

.tool--btn {
  display: block;
  border: none;
  padding: .5rem;
  font-size: 20px;
}

#output {
  height: 400px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  margin: 1rem;
  padding: 1rem;
  font-family: "PT Sans", sans-serif;
}